/*BEGIN Game Boy Color Controller Styling*/
/*This class defines the base attributes of the skin*/
.controller.custom{
    background: url(gameboy.png); 
    height: 330px;
    width: 331px;
}

/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}

/* This is to size and position the containing div for the 
start and select buttons. */

/* Position and size are set. Only "pressed" to review */
.custom .arrows{
    position: absolute;
    width: 78px;
    height: 28px;
    top: 222px;
    left: 123px;
}

.custom .back, .custom .start{
    width: 31px;
    height: 15px;
}

.custom .back{
    position: absolute;
    top: 7px;
}
.custom .start{
    position: absolute;
    top: 7px;
    right: 0px;
}

.custom .back.pressed, .custom .start.pressed{
    background-image: url(/GamePadViewer/clicked-menu.png);
    background-position: -83px -159px;
} 

/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 98px;
    height: 67px;
    top: 112px;
    left: 202px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:45px;
    height:45px;
}
.custom .button.pressed{
    background: url(/GamePadViewer/clicked-ab.png);
}


/* A and B positions are good.

/* x is a, but not in the order on the gameboy. A is on the right hand side */
/* o is b, but not in the order on the gameboy. B is on the left hand side */
/* TODO: See if we can change the button order so that X is B and A is O */
.custom .a{
    top: 0px;
    left: 52px;
}

.custom .b{
    top: 21px;
    right: 54px;
}


.custom .a.pressed{
    background-position: 2px 44px;
}
.custom .b.pressed{
    background-position: 43px -82px;
}

/* Square and Triangle. Set to 0 so that it does not show */
.custom .x.pressed{
    background-size: 0;
}
.custom .y.pressed{
    background-size: 0;
}


/* DPAD Complete */
.custom .dpad{
    position: absolute;
    width: 84px;
    height: 84px;
    top: 100px;
    left: 30px;
}
.custom .face{
    position: absolute;
    width: 28px;
    height: 28px;
}
.custom .face.up{
    left: 28px;
    top: 3px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.custom .face.down{
    left: 28px;
    top: 56px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.custom .face.left{
    top: 29px;
    left: 1px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.custom .face.right{
    top: 28px;
    right: 0px;
}
.custom .face.pressed{
    background: url(/GamePadViewer/clicked-dpad.png);
    background-position: -2px -112px;
}

/*END PS3 Controller Styling*/
